.navList li a {
  font-weight: 600;
}

.navList li a.active {
  font-weight: 700;
  color: #198754 !important;
}

.tastyBite span {
  font-family: 'Lobster', sans-serif;
  font-size: 1.6em;
}

@media only screen and (max-width: 575px) {
  .tastyBite span {
    font-size: 1.2em !important;
  }

  .chefLogo {
    width: 50px !important;
  }
}
